---

name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - '!master'

jobs:
  Build:
    runs-on: ubuntu-latest
    container: rust:slim

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
            lfs: true

      - name: Build
        env:
          MDBOOK_VERSION: 0.4.30
        run: |
          cargo install mdbook --no-default-features --features search --vers ${MDBOOK_VERSION}
          mdbook build
