name: Deploy

on:
  push:
    branches:
      - master

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            lfs: true

      - name: Install mdBook
        env:
          MDBOOK_VERSION: 0.4.52
        run: curl -sSL https://github.com/rust-lang/mdBook/releases/download/v${MDBOOK_VERSION}/mdbook-v${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=/usr/local/bin

      - name: Build
        run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.RELEASE_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./book
          force_orphan: true
          cname: 'tech-docs.system76.com'
